html{
  font-size: 12px;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../images/image.jpg');
  color:#fff;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.counter{
  display: flex;
  padding: 10px;
}
h2{
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

h1{
	font-size: 3.5rem;
	margin: 10px;
}

body>p{
  margin-bottom: 20px;
  font-size: 1rem;
}
.counter .box{
  width: 80px;
  height: 70px;
  text-align: center;
  margin-right: 10px;
  position: relative;
}


.counter .box:last-of-type::after{
  display: none;
}

.counter .box h2{
  font-size: 2.5rem;
  font-weight: 500;
}

.form{
  margin-top: 20px;
}
.form input[type="text"]{
  width: 230px;
  padding: 10px;
  outline: none;
  border: 1px solid rgba(255,255,255,0.5);
  background-color: transparent;
  border-radius: 5px;
  color:white;
}

.year {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  text-align: center;
  font-size: 95px;
  color: rgb(255 255 255 / 50%);
}

@media (min-width:576px) {
  html{
    font-size:18px ;
  }
  .counter .box{
    width: 100px;
    height: 100px;
  }
  .form input[type="text"]{
    width: 300px;
  }
}

@media (min-width:768px) {
  html{
    font-size:20px ;
  }
  .counter .box{
    width: 110px;
    height: 110px;
  }
  .form input[type="text"]{
    width: 340px;
  }
}